.home {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  justify-content: space-around;
}

.home-link {
  align-items: center;
  background-color: lightsteelblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
  margin: auto;
  max-width: 50vh;
  min-width: 45vw;
  padding: 1rem;
  width: fit-content;
}

.home-link a {
  color: black;
}

.img-link {
  height: 100px;
}
