.category-heading {
  color: white;
  font-size: xx-large;
  margin: 1rem auto;
  text-align: center;
}

.single-cast-page,
.single-episode-page,
.trivia-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.grid-page {
  display: grid;
  gap: 0.5rem ;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.card {
  background-color: lightsteelblue;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 8rem;
  margin: 0 auto;
  width: 80%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
  height: 80%;
}

.single-cast-page .actor-card,
.single-character-page .character-card {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-top: 15vh;
  text-align: center;
}

.single-cast-page .actor-card .card-img {
  height: 60%;
  margin: 1rem auto;
}

.single-character-page .character-card .card-img {
  height: 25%;
  margin: 1rem auto;
}

.actor-voices {
  margin-top: 1rem;
}

.actor-voices h4 {
  font-size: larger;
  text-decoration: underline;
}

.character-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 0 auto;
  width: 90%;
}

.detail {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0.5rem auto;
  width: 90%;
}

.center {
  text-align: center;
}

.sayings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  max-height: 50%;
  overflow-y: scroll;
}

.episodes-table {
  background-color: lightsteelblue;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.episodes-table thead {
  background-color: black;
  color: lightsteelblue;
  font-size: larger;
  line-height: 2rem;
}

.episode-row:hover,
.episode-row a:hover {
  background-color: black;
  color: lightsteelblue
}

.episodes-table a {
  color: black;
}

.single-episode-page .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  padding: 1rem;
}

.trivia-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 70vh;
  justify-content: center;
  max-width: 80vh;
  padding: 1rem;
  text-align: center;
  width: 80vw;
}

.trivia-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 80%;
}

.trivia-answers fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.trivia-answers input {
  cursor: pointer;
  margin-right: 1rem;
}

.trivia-card label {
  display: flex;
  width: fit-content;
}

.trivia-submit {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  margin: 1rem auto!important;
}

.trivia-submit:hover {
  background-color: black;
  color: lightsteelblue;
  cursor: pointer;
}

.trivia-message {
  margin: 1rem auto!important;
}
