:root {
  --dark-bg: #212529;
  --navbar-height: 10vh;
  --main-height: 90%;
  --min-main-height: 90vh;
}

#main-container {
  display: grid;
  grid-template-rows: var(--navbar-height) var(--min-main-height);
  height: 100%;
  padding: 0;
}

.container {
  height: 80vh;
  margin-top: 5vh;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.pad-left {
  padding-left: 20px !important;
}

input {
  padding: 5px 10px !important;
}

button {
  margin: 0 auto !important;
  padding: 5px 10px !important;
  width: fit-content;
}

#main-logo {
  height: 100%;
  margin: 0 auto;
  width: fit-content;
}

.icon {
  height: 1vh;
}

#main-logo:hover,
.icon:hover,
.navlink:hover {
  background-color: transparent;
  cursor: pointer;
  transform: scale(1.2);
}

#notification-modal {
  align-items: center;
  background: linear-gradient(to top, black, lightgray);
  border-radius: 5px;
  color: whitesmoke;
  display: grid;
  height: 25%;
  left: 50%;
  top: 50%;
  overflow: auto;
  position: fixed;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}

.modal-close {
  color: whitesmoke;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 5px;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
