* {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  font-size: large;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

html,
body {
  background: url(/bg-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
  width: 100vw;
}
